body {
	 background-color: rgb(174, 214, 241);  
        }
       #summer {
            color: rgb(14, 181, 242);
        }
          #winter {
         color: rgb(27, 207, 81);
        } 
          #sofi {
         color: rgb(178, 125, 237);
        }
         
            
.photo-area {
	width: 100px;
	height: 130px;
	padding: 10px;
	border: 1px solid #666;
	overflow: hidden;
	position: relative;
	margin: 10px;
	background: white;
}
#photo {
	width: 100px;
	height: 100px;
	background: url(343px-Delfín.jpg) center center;
	margin-bottom: 5px;
}
.info-area {
	opacity: 0.0;
	}
	a.more-info {
		display: block;
		width: 89px;
		height: 26px;
		background: url(istockphoto-1469253548-612x612.jpg);
		text-indent: -9999px;
	}
	a.close {
		position: absolute;
		right: 10px;
		bottom: 10px;
		display: block;
		width: 20px;
		height: 21px;
		background: url(photo-1507184915978-447ac6ab3ecb.jpg);
		text-indent: -9999px;
	}
